/*============================gifts==========================*/
.content_top2{
  background:url(../images/img_fon3.jpg) 50% 0 no-repeat ;
  min-height: 100%;
  padding-bottom: 120px;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.prizes2 {
	width: 700px;
	margin: 0 auto;
}
.content_img2 {
	margin-top: 37px;
	margin-left: 8px;
}
.prizes3 {
	width: 600px;
	margin: 0 auto;
}
/*============================gifts end==========================*/
/*============================terms==========================*/
.terms_ul{
	counter-reset: heading;
}
.terms_li:before{
	counter-increment: heading;
 	content: counter(heading) ".";
 	font-size: 16px;
 	line-height: 24px;
 	font-weight: 700;
}
.terms_button{
	width: 213px;
}
/*============================terms end==========================*/
/*============================forgot_password popup==========================*/
#forgot_password{
	width: 524px;
	padding: 20px 30px;
}
.forgot_brd{
	border-bottom: 10px solid #ea3030;
	margin: 0 -30px;
	display: block;
}
.forgot_button{
	left: 132px;
	bottom: -40px;
	width: 320px;
}
.input_forgot{
	width: 320px;
	margin: 0 auto;
	padding-top: 15px;
}
.input_forgot input{
	margin: 0;
	width: 296px;
 	border: 1px solid #e0e0e0;
	padding: 10px 10px 9px 10px;
}
.bg_input{
	margin: 0 -30px -30px -30px;
	height: 140px;
}
.forgot_btn {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	width: 100%;
	padding: 22px 0 18px 0;
	background: #ea3030;
	border-radius: 5px;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
}
.forgot_btn:hover {
	background: #d92b2b;
}
/*============================forgot_password popup end==========================*/
/*============================sign_in popup==========================*/
#sign_in{
	width: 524px;
	padding: 20px 30px;
}
.sign_brd{
	border-bottom: 10px solid #ea3030;
	margin: 0 -30px;
	display: block;
}
.sign_button{
	left: 132px;
	bottom: -40px;
	width: 320px;
}
.input_sign{
	width: 320px;
	margin: 0 auto;
	padding-top: 15px;
}
.input_sign input{
	margin: 0;
	width: 296px;
	padding: 10px 10px 9px 10px;
 	border: 1px solid #e0e0e0;
}
.bg_sign_input{
	margin: 0 -30px -30px -30px;
	height: 271px;
}
.sign_btn {
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	width: 100%;
	padding: 22px 0 18px 0;
	background: #ea3030;
	border-radius: 5px;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
}
.sign_btn:hover {
	background: #d92b2b;
}
#restored{
	width: 660px;
	height: 80px;
}
/*============================sign_in popup end==========================*/
/*============================registration popup==========================*/
#registration{
	width: 524px;
	padding: 20px 30px;
}
.bg_reg_input{
	margin: 0 -30px -30px -30px;
}
.input_reg{
	padding: 15px 30px 15px 30px;
	border-bottom: 1px solid #e0e0e0;
	height: 180px;
}
.information_reg{
	padding: 15px 30px 30px 30px;
	border-bottom: 1px dashed #e0e0e0;
	height: 143px;
}
.input_reg input{
	margin: 0;
	width: 228px;
 	border: 1px solid #e0e0e0;
	padding: 10px 10px 9px 10px;
}
.radio_place2{
	width: 188px;
	padding-top: 4px;
}

.place_of_purchase{
	cursor: pointer;
}
.place_of_purchase:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/radio_icon.png) 0 bottom no-repeat;
	margin-right: 10px;
}
input[type="radio"] {
display: none;
}
input[type="radio"]:checked + .place_of_purchase:before {
	background-position: 0 top;
}
.reg_select {
	border: 1px solid #c7c7cc;
	outline: none;
	width: 334px;
	vertical-align: middle;
	margin-left: 0px;
}
.number_reg{
	height: 140px;
	border-bottom: 1px solid #e0e0e0;
	padding: 15px 30px 20px 30px;
}
.number_reg input{
	margin: 0;
	width: 502px;
 	border: 1px solid #e0e0e0;
	padding: 10px 10px 9px 10px;
}
input[type="checkbox"] {
	display: none;
}
.filter_label {
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
	overflow: hidden;
}
input[type="checkbox"]+.filter_label:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/checkbox_icon.png) 0 bottom no-repeat;
}
input[type="checkbox"]:checked+.filter_label:before {
	background-position: 0px 0px;
	background: url(../images/checkbox_icon2.png) 0 bottom no-repeat;

}
.reg_check img{
	opacity: 0;
	height: 227px;
	width: 277px;
	display: none;
	z-index: -1;
}
.reg_check{
	left: 32px;
	bottom: 158px;
	z-index: 999;
}
.checker:hover .reg_check img{
	display: block;
	opacity: 1;
}
/*============================registration popup end==========================*/
/*============================final ==========================*/
.tourist2{
	padding: 5px 70px 0 70px;
}
.tourist_certificate .gallery_member_item{
	width: 235px;
}
.lucky2{
	padding: 0 185px;
}
.money_item{
	counter-reset: heading;
}
.money_name:before{
	counter-increment: heading;
 	content: counter(heading) "." " ";
}
.money1{
	width: 250px;
	float: left;
	padding-left: 80px;
}
.sertific{
	background: url(../images/sertific_final.png) 0 0 no-repeat;
	width: 150px;
	height: 12px;
	display: inline-block;
	margin-left: 17px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.cupon2_p{
	padding-left: 120px;
	padding-right: 120px;
}
.cupon1{
	width: 270px;
	float: left;
	padding-left: 170px;
}
.cupon_item{
	counter-reset: heading;
}
.cupon_name:before{
	counter-increment: heading;
 	content: counter(heading) "."" ";
}
.cupon2{
	width: 270px;
	float: left;
	padding-left: 170px;
}
.cupon_item2{
	counter-reset: list 25;
}
.cupon_name2:before{
	counter-increment: list;
 	content: counter(list) "."" ";
}
.video_final{
	width: 660px;
	height: 409px;
}
/*============================final end==========================*/
/*============================profile_moderate==========================*/
.bg_img_profile{
	/*background: url(../images/profile_img_add.jpg) 0 0 no-repeat;
	width: 489px;
	height: 452px;*/
}
.prof_select {
	border: 1px solid #c7c7cc;
	outline: none;
	width: 472px;
	vertical-align: middle;
}

/*input[type="radio"] {
display: none;
}*/
/*input[type="radio"]:checked + .profile_label:before {
	background-position: 0 top;
}*/
.number_reg2 input{
	margin: 0;
	width: 452px;
 	border: 1px solid #e0e0e0;
	padding: 10px 10px 9px 10px;
}
.table_prof{
	margin: 0 -14px 0 -24px;
}
.photo_abs{
	left: 43%;
	bottom: -7%;
}
.description_photo{
	padding: 35px 20px 20px 20px;
}
.description_photo textarea{
	height: 138px;
	width: 418px;
	resize:none;
	border:1px solid #c5c5c5;
	padding: 10px 15px 10px 15px;
}
.description_photo_span{
	margin-left: -20px;
	padding-left: 20px;
	margin-right: -20px;
}
.description_photo .select_file,.description_photo2 .select_file{
	width: 169px;
}
#save,#save_check{
	width: 489px;
}
.reg_check22 {
left: 5px;
bottom: 130px;
z-index: 999;
}
.reg_check22 img{
	opacity: 0;
	height: 227px;
	width: 277px;
	display: none;
	z-index: -1;
}
.checker:hover .reg_check22 img{
	display: block;
	opacity: 1;
}
.brdbmn{border-bottom: none ;}
.mlmr-20{
	margin-left: -20px;
	margin-right: -20px;
}
.mr_mod{margin: 0 0 0 1px !important;}
/*============================profile_moderate end==========================*/
/*============================profile_photo ==========================*/
.photo_span{
	left: 47.2%;
	bottom: -3%;
}
#delete{
	width: 524px;
	padding: 20px 30px;
}
.bg_delete_input{
	margin: 0 -30px -30px -30px;
	height: 167px;
}
.description_photo2{
	padding: 35px 20px 20px 20px;
}
.description_photo2 textarea {
	height: 138px;
	width: 418px;
	resize: none;
	border: 1px solid #e0e0e0;
	padding: 10px 15px 10px 15px;
}
.social_about_hov, .social_about_item:hover img {
	visibility: hidden;
	opacity: 0;
}
.social_about_hov {
	position: absolute;
	top: 5px;
	left: 15px;
}
.social_about_item:hover img.social_about_hov {
	opacity: 1;
	visibility: visible;
}
.social_profile_about{
	padding-top: 18px;
}
.bg_img_profile:hover .member_img_black {
	display: block;
} 
.img_profile_btn{
	background: url(../images/img_profile_btn_bg.png) 0 0 repeat;
	vertical-align: middle;
}
.img_profile_btn:hover{
	color: #cecece;
}
/*============================profile_photo end==========================*/

