.gallery_member_item{
	border: 1px solid #ccc;
}
.gallery_item_bg{
	filter: alpha(opacity=70);
}
.heart_big{
	background: url(../images/big_heart.png) 0 0 no-repeat;
}
.profile .container_12{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
} 
.profile .title9{
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.jq-radio.checked .jq-radio__div{
	background: url(../images/radio_icon.png) -5px -5px no-repeat;
}
.place_of_purchase:before{
	margin-top: 5px;
}
.place_of_purchase{
	padding-bottom: 5px;
}
.jq-radio{
	border: none;
}
.active.heart_big{
	background: url(../images/active_big_heart.png) 0 0 no-repeat;
}
