@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/jquery.jscrollpane.css";
@import "../css/jquery.arcticmodal-0.3.css";
@import "../css/jquery-ui.css";
@import "../fonts/MetaPro/style.css";
@import "../fonts/PragmaticaLight/style.css";
@import "../fonts/PragmaticaMedium/style.css";
@import "../fonts/PragmaticaBook/style.css";
@import "../fonts/PragmaticaBold/style.css";
@import "../css/jquery.formstyler.css";
@import "../fonts/Flow/style.css";
@import "../css/sveta.css";
@import "../css/alexander.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%;height: 100%;}

body {
  font-family:'PragmaticaMedium', sans-serif;
  font-size:16px;
  line-height:24px;
  color:#666;
  height: 100%;
}
.content_top{
  background:url(../images/img_fon1.jpg) 50% 0 no-repeat ;
  min-height: 100%;
  padding-bottom: 120px;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.content_middle{
  background:url(../images/img_fon2.png) 50% 0 no-repeat ;
  padding-bottom: 89px;
}
.main{
  width: 1000px;  
  margin: 0 auto;
}
/*----------------Fonts--------------*/
.metaN{
    font-family: 'metapronormal';
}
.metaM{
    font-family: 'metapromedium';
}
.metaB{
    font-family: 'metaprobold';
}
.metaBlack{
     font-family: 'metaproblack';
}
.flow{
   font-family: 'flowregular';
 }
 .pragmaticaLight{
   font-family:'PragmaticaLight', sans-serif;
 }
 .pragmaticaMedium{
   font-family:'PragmaticaMedium', sans-serif;
 }
 .pragmaticabook{
  font-family: 'PragmaticaBookRegular';
}
 .pragmaticabold{
 font-family: 'PragmaticaBold-Reg';
}
 .pragmaticaregular{
   font-family: 'PragmaticaRegular';
 }
/*----------------------> Links And buttons <------------------*/
a {
  color:#e03200;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#e03200;
  text-decoration:none;
}
.lk1{text-decoration: underline;}
.lk1:hover{text-decoration: none;}
.lk2{border-bottom: 1px dotted;}
.lk2:hover{border-bottom: none;}
.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}
.btn1{
  color: #fff;
  border-radius:5px;
  background:#ea3030;
  text-transform:uppercase;
  border:none;
  outline:none;
  width: 100%;
}
.btn1:hover, .btn4:hover{
  background:#f63e3e;
}
.btn1:visited{
  background:#d92b2b;
}
.btn2{
  text-transform: uppercase;
  padding-left: 50px;
  background: url(../images/bg_btn2.png) 0 0 no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn2:hover{
   background: url(../images/bg_btn2.png) 0 -37px no-repeat;
   color:#cdcdcd;
}
.btn3{
  border: none;
  outline: none;
  padding: 5px 42px;
}
.btn3:hover{
  background:#ea3030;
}
.btn4{
  border-radius:5px;
  border:none;
  outline:none;
  cursor: pointer;
  width: 100%;
  padding: 12px 0;
}
.btn5{
  border-radius:5px;
  border:none;
  outline:none;
  cursor: pointer;
  width: 169px;
  padding: 12px 0;
}
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}
.it{font-style:italic}
.let{letter-spacing:-1px}
.let1{letter-spacing:-0.5px;}
/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}
.bg_none{ background:none !important;}
.mr_auto{margin: 0 auto;}
/*----------------------> Displays <------------------*/

.d_bl{ display:block;}
.d_ib{ display:inline-block;}

/*----------------------> Basic Colors <------------------*/
.black{color: #000;}
.white{color: #fff;}
.gray{color:#ababab;}
.gray1{color:#959595;}
.gray2{color:#b2b2b2;}
.red{color:#ea3030;}
.bg_white{background-color: #fff;}
.bg_black{background-color: #000;}
.bg_red{background-color: #ea3030;}
.bg_gray{background-color: #8d8e93;}
.bg_gray2{background-color: #f5f5f5;}
.bg_gray3{background-color: #777777;}
.bg_gray3:hover{background-color: #959595;}
.bg_green{background-color: #9ac238;}
.bg_green:hover{background-color:#7ba417;}
.bg_gray4{background-color: #dddddd;}
.bg_gray5{background-color:#adadad;}
.bg_0_5{
 background: rgba(0, 0, 0, 0.5);
 opacity: 0.6;
}
.bg_0_5:hover{
 opacity: 1;
}

.border_radius1{
  border-radius: 3px 0 0 3px;
}
.border_radius2{
  border-radius: 0 3px 3px 0;
}

.bxsh1{
  -webkit-box-shadow: 1px 1px 1px #e0e0e0, -1px 1px 1px #e0e0e0;
  box-shadow: 1px 1px 1px #e0e0e0, -1px 1px 1px #e0e0e0;
}

.br_bot{
  border-bottom:1px solid #e0e0e0;
}
.br_all{
  border:1px solid #e0e0e0;
}
.brd_textarea{
  border: 1px solid #c5c5c5;
}
.brdb_dashed{
  border-bottom: 1px dashed #b7b7b7;
}
.brdb_dashed2{
  border-bottom: 1px dashed #dadada;
}
.brdr_dashed3{
  border-right: 1px dashed #dadada;
}
.brdt_dashed{
  border-top: 1px dashed #b7b7b7;
}
/*======================> Header <======================*/

header {
  padding-top: 20px;
  position: relative;
  
  }
.logo{
  width: 202px;
}
.logo a{
  display:block;
  width:202px;
  height:147px;
  background:url(../images/logo_alba.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}
.link_main{
  padding-top: 19px; 
}
.header_link{
  position: relative;
}
.header_link_a{
  padding: 2px 15px 2px 15px; 
  font-size: 18px;  
  line-height: 22px;  
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
.header_link_a:hover,.header_link_a.current{
  background: #000;
  color: #fff;
}
.header_link:first-child{
  padding-left: 15px; 
}
.header_link:after{
  content: "";
  position: absolute;
  background: url(../images/header_link.png) 0 0 no-repeat;
  width: 6px; 
  height: 6px;  
  right: -3px; 
  top: 8px; 
}
.header_link:last-child:after{
  background: none;
  width: 0; 
  height: 0;  
  /*position: static;*/
}
.nav_menu{
  margin-top: 19px;
  background: #000;
}
.menu{
  width: 705px;
}
.menu:before{
  content: "";
  position: absolute;
  right: 24px;
  bottom: 48px;
  background: url(../images/menu_after.png) 0 0 no-repeat;
  width: 69px;
  height: 37px;
}
.menu_item{
  float: left;
  padding: 0 4px 0 30px;
}
.menu_link{
  color: #dedede;
  font-style: italic;
  display: block;
  padding: 12px 0px 11px 0px;
  font-size: 14px;
  line-height: 1em;
  text-decoration: none;
}
/*=====================> Content ========================*/
.contentmain{
  min-height: 100%;
  padding-bottom: 120px;
}
#content {padding:0px 0px 0px 0px;min-height: 1296px;}
.cont_pad{padding:0 0 0 0 !important;}
.prizes{
  width: 500px;
  margin: 0 auto;
}
.content_img{
  margin-top: -10px;
  margin-left: 8px;
}
.participation a.plus{
  background: url(../images/plus_content.png) 0 0 no-repeat;
  width: 49px;
  height: 49px;
  -webkit-transition:none;
  -o-transition:none;
  transition:none:;
}
.participation a.plus:hover{
  background: url(../images/plus_content_hov2.png) 0 0 no-repeat;
  width: 302px;
  height: 129px;
}
.participation a.plus1:hover{
  left:380px;
  top:19px;
}
.participation a.plus2:hover{
  right:3px;
  top:81px;
}
.participation a.plus3:hover{
  left:237px;
  bottom:94px;
}
.participation a.plus4:hover{
  right:103px;
  top:186px;
}
.plus1{
  left: 382px;
  top: 100px;
}
.plus2{
  right: 254px;
  top: 162px;
}
.plus3{
  left: 239px;
  bottom: 93px;
}
.plus4{
  right: 354px;
  bottom: 86px;
}
.vk{
  bottom: -100px;
  right: 90px;
}
.faceb{
  bottom: -100px;
  left: 98px;

}
.plus_hov {
  text-align: center;
  display: none;
  border-radius: 5px;
  padding: 20px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 999;
 }

.plus_hov1{
  top: 24px;
  left: 405px;
}
.plus_hov2{
  right: 0px;
  top: 81px;
}
.plus_hov3{
  left: 267px;
  bottom: 136px;
}
.plus_hov4{
  right: 128px;
  bottom: 128px;
}
.plus:hover +.plus_hov {
  display:inline-block;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.participate_button{
  margin-top: 27px;
}
.participat_btn{
  text-transform: uppercase;
  font-size: 24px; 
  line-height: 24px;
  text-align: center;
  padding: 22px 60px 18px 60px;
  background: #ea3030;
  border-radius:5px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.participat_btn:hover{
  background: #d92b2b;
}
.conditions_competition{
  background-color: rgba(0, 0, 0, 0.7);
  width: 647px;
  height: 458px;
  border: 6px solid #ebeae7;
  counter-reset: heading;
}
.cond_span:before{
  counter-increment: heading;
  content: counter(heading);
  color: #ea3030;
  float: left;
  padding: 0 20px 0 23px;
  margin-top: -7px;
  font-size: 30px;
  line-height: 30px;
}
.competition_text{
  padding-left: 60px;
  padding-right: 30px;
}
.competition_button{
  left: 163px;
  bottom: -34px;
}
.competition_btn{
  text-transform: uppercase;
  font-size: 24px; 
  line-height: 24px;
  text-align: center;
  padding: 22px 94px 18px 94px;
  background: #fff;
  border-radius:5px;
  color: #000;
  outline: none;
  border: none;
  cursor: pointer;
}
.competition_btn:hover{
  background: #fff;
  color: #f63e3e;
}
.social_main{
  background: url(../images/social.jpg) 0 0 no-repeat;
  border: 20px solid #fff;
  width: 301px;
  height: 300px;
}
.soc_icon{margin: 0 45px;}
.soc_icon_item{
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin: 0 5px;
}
.soc_vk{background: url(../images/social_vk.png) 50% 50% no-repeat #fff;}
.soc_fcb{background: url(../images/social_fcb.png) 50% 50% no-repeat #fff;}
.soc_inst{background: url(../images/social_inst.png) 50% 50% no-repeat #fff;}
.soc_vk:hover{background: url(../images/social_vk_hov.png) 50% 50% no-repeat #000;}
.soc_fcb:hover{background: url(../images/social_fcb_hov.png) 50% 50% no-repeat #000;}
.soc_inst:hover{background: url(../images/social_inst_hov.png) 50% 50% no-repeat #000;}

.social_main img.p_abs{
  left: -20px;
  top: -20px;
}
/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb0{margin-bottom: 0;}
.mb8{margin-bottom: 8px;}
.mb10{margin-bottom: 10px;}
.mb18{margin-bottom: 18px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb40{ margin-bottom:40px;}
.mb50{ margin-bottom:50px;}
.mb60{margin-bottom: 60px;}


.p4{ margin-bottom:0;}
.p5{ margin-bottom:0;}
.p6{ margin-bottom:0;}

.pt1{padding-top: 1px;}
.pt4{padding-top: 4px;}
.pt5{padding-top: 5px;}
.pt7{padding-top: 7px;}
.pt8{padding-top: 8px;}
.pt10{padding-top: 10px;}
.pt13{padding-top: 13px;}
.pt15{padding-top: 15px;}
.pt16{padding-top: 16px;}
.pt20{padding-top: 20px;}
.pt21{padding-top: 21px;}
.pt24{padding-top: 24px;}
.pt25{padding-top: 25px;}
.pt27{padding-top: 27px;}
.pt30{padding-top: 30px;}
.pt37{padding-top: 37px;}
.pt40{padding-top: 40px;}
.pt45{padding-top: 45px;}
.pt50{padding-top: 50px;}
.pt55{padding-top: 55px;}
.pt73{padding-top: 73px;}
.pt89{padding-top: 89px;}
.pt90{padding-top: 90px;}
.pt92{padding-top: 92px;}
.pt145{padding-top: 145px;}


.pb2{padding-bottom: 2px;}
.pb4{padding-bottom: 4px;}
.pb5{padding-bottom: 5px;}
.pb8{padding-bottom: 8px;}
.pb10{padding-bottom: 10px;}
.pb12{padding-bottom: 12px;}
.pb16{padding-bottom: 16px;}
.pb20{padding-bottom: 20px;}
.pb22{padding-bottom: 22px;}
.pb24{padding-bottom: 24px;}
.pb25{padding-bottom: 25px;}
.pb26{padding-bottom: 26px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb21{padding-bottom: 21px;}
.pb27{padding-bottom: 27px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb65{padding-bottom: 65px;}

.pl8{padding-left: 8px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pl40{padding-left: 40px;}

.pr8{padding-right: 8px;}
.pr15{padding-right: 15px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}

.mt-5{margin-top: -5px;}
.mt5{margin-top: 5px;}
.mt13{margin-top: 13px;}
.mt16{margin-top: 16px;}
.mt30{margin-top: 30px;}
.mt100{margin-top: 100px;}
.mt165{margin-top: 165px;}
.mt213{margin-top: 213px;}
.ml30{margin-left: 30px;}
.ml6{margin-left: -6px;}
.ml18{margin-left: 18px;}
.ml167{margin-left: 167px;}
/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 72px;
  line-height: 80px;
  color:#000;
}

.title2{
  font-size: 18px;
  line-height: 30px;
}
.title3{
  font-size: 30px;
  line-height: 36px;
}
.title4{
  font-size: 16px;
  line-height: 24px;
}
.title5{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}
.title6{
  font-size: 48px;
  line-height: 60px;
  text-transform: uppercase;

}
.title7{
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.title8{
  font-size: 36px;
  line-height: 60px;
}
.title9{
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    border-bottom:10px solid #ea3030;
    letter-spacing: -1px;
}
.t_ind{ margin-bottom:px;}
.t_ind1{ margin-bottom:px;}
.t_ind2{ margin-bottom:px;}

/*=============>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a, button{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover, button:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*======Basic class =========*/
.font_14{font-size: 14px;}
.font_16{font-size: 16px;}
.font_18{font-size: 18px;}
.font_22{font-size: 22px;}
.font_24{font-size:24px;}
.font_30{font-size: 30px;}

.fw500{font-weight: 500;}
/*======Basic class =========*/
.lh_18{line-height:18px;}
.lh_24{line-height:24px;}
.lh_28{line-height:28px;}
.lh_30{line-height:30px;}
.lh_31{line-height:31px;}
.lh_34{line-height:34px;}
.lh_36{line-height:36px;}
.lh_214{line-height: 214px;}
/*Basic class*/




/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
  width:74px;
}
.adress dt{ margin-bottom:14px;}

.demo{}
.demo:hover{ text-decoration:underline;}
/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
  padding:20px 0 20px;
  height: 80px;
  background: #111a20;
  margin-top: -120px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}
.footer_link_main{
  padding-top: 32px; 
}
.footer_link{
  font-size: 18px;  
  line-height: 22px;  
  color: #fff;
  padding: 0 18px 0 11px; 
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_link:first-child{
  padding-left: 0; 
}
.footer_link:after{
  content: "";
  position: absolute;
  background: url(../images/footer_link.png) 0 0 no-repeat;
  width: 6px; 
  height: 6px;  
  right: 0; 
  top: 8px; 
}
.footer_link:last-child:after{
  background: none;
  width: 0; 
  height: 0;  
  /*position: static;*/
}
.call_us_number {
  font-size: 30px;
  line-height: 32px;
  padding-bottom: 14px;
}
.number_item{
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  padding-top: 8px;
}
.gmail_write{
  padding-left: 34px;
  color: #fff;
  text-decoration: none;
  background: url(../images/footer_gmail.png) 0px 4px no-repeat;
}