.bg_none{background-color: #fff!important;}
[class*="disc"]{
	width: 60px;
	height: 60px;
	border-radius:100%;
}
.socicon_lk{
	padding-top: 45px;
	text-align: center;
}
.socicon_lk span{
	color: #39383d;
}
.disc_f{
	background: url(../images/icon_f.png) 50% 50% no-repeat #3c5a98;
}
.disc_f:after, .disc_b:after{
	width: 55px;
	height: 45px;
	content: "";
	display: block;
	background:url(../images/socicon_before.png) 0 0 no-repeat;
	position: relative;
	top: -45px;
}
.disc_f:after{
	left:40px;
	top: -40px;
}
.disc_b:after{
	right:40px;
	top: -40px;
	background:url(../images/socicon_b_before.png) 0 0 no-repeat;
	
}
.disc_f:hover{
	background: url(../images/icon_f.png) 50% 50% no-repeat #597abe;
}
.disc_f:active{
	background: url(../images/icon_f.png) 50% 50% no-repeat #35518a;
}
.disc_b{
	background: url(../images/icon_b.png) 50% 50% no-repeat #4c75a3;
}
.disc_b:hover{
	background: url(../images/icon_b.png) 50% 50% no-repeat #5f8cbe;
}
.disc_b:active{
	background: url(../images/icon_b.png) 50% 50% no-repeat #446a96;
}
.we_inSoc{
	width: 302px;
	height: 302px;
	background: url(../images/bg_we_inSoc.png) 0 0 no-repeat;
}
.discB{
	background: url(../images/social_vk.png) 50% 50% no-repeat;
}
.discB:hover{
	background:url(../images/social_vk_hov.png) 50% 50% no-repeat #000;
}
.discF{
	background: url(../images/social_fcb.png) 50% 50% no-repeat;
}
.discF:hover{
	background:url(../images/social_fcb_hov.png) 50% 50% no-repeat #000;
}
.disc_foto{
	background: url(../images/social_inst.png) 50% 50% no-repeat;
}
.disc_foto:hover{
	background:url(../images/social_inst_hov.png) 50% 50% no-repeat #000;
}
.we_socicon_lk{
	margin-right: 10px;
}
.gallery_item{
	border:1px dashed #636363;
	padding: 94px 30px 32px;
}
.gallery_item_bg{
	top:0;
	bottom: 0;
	left:0;
	right:0;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.select_file input[type="file"]{
	display: none;
}
.file_notselected{
	background: url(../images/icon_foto1.png) 0 0 no-repeat;
	width: 50px;
	height: 38px;
}
.gallery_item:hover{
	background:#c2c2c2;
 }
.gallery_member_item{
	padding: 10px 10px 23px;
}
.gallery_member_img{
	height: 214px;
	overflow: hidden;
	background: #757575;
}
.heart, .heart_big{
	left:50%;
	border: none;
	outline: none;
	background:url(../images/heart.png) 0 -52px no-repeat;
}
.heart_final{
	left:50%;
	border: none;
	outline: none;
	background:url(../images/heart.png) 0 0 no-repeat;
}
.heart, .heart_final{
	width: 56px;
	height: 50px;
	margin-left: -28px;
	bottom: 32px;
}
.heart_big{
	width: 88px;
	height: 78px;
	background-size: 88px;
	background-position: 0 -83px;
	margin-left: -44px;
	bottom: -12px;
}
 .active.heart_big{
 	background:url(../images/heart.png) 0 0 no-repeat;
 	background-size: 88px;
 }

.active.heart{
	background:url(../images/heart.png) 0 0 no-repeat;
}
.active.heart, .active.heart_big{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: transform 0.7s;
	-o-transition: transform 0.7s;
	transition: transform 0.7s;
}
.activeRemove.heart, .activeRemove.heart_big{
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform 0.7s;
	-o-transition: transform 0.7s;
	transition: transform 0.7s;
}
.active.heart>span{
	color:#fff;
}
.member_img_black{
	display: none;
	top:0;
	left:0;
	right:0;
	background: #000;
	/*opacity: 0.5;*/
	bottom: 0;
	background: url(../images/profile_photo_bg_hov.png) 0 0 repeat;
}

#member_itemModal .member_img_black{
	bottom: 30px!important;
}
.active.member_img_black{
	display: block;
}

/*===================Gallery=================*/
.gallery_title_small{
	text-transform: none;
}

#member_itemModal{
	width: 704px;
	padding: 20px 30px;
}
.modal_member_img{
	width: 700px;
	height: 495px;
	overflow: hidden;
}
[class*="modal_soc"]{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-left: 12px;
}
[class*="modal_soc"]:hover, .arcticmodal-close_x:hover{
	background-color: #d2d2d2;
}
.modal_soc_f{
	background:url(../images/icon_f.png) 50% 50% no-repeat #c9c9c9;
	background-size: 10px 20px; 
}
.modal_soc_b{
	background:url(../images/icon_b.png) 50% 50% no-repeat #c9c9c9;
	background-size: 20px 20px; 
}
.arcticmodal-close_x{
	width: 35px;
	height: 35px;
	background: url(../images/x_closed.png) 50% 50% no-repeat #cecece;
	margin: -20px -30px 0 0;
	cursor: pointer;
}
.member_item_quote{
	padding: 0 10px;
}
.modal_member_title{
	margin-top: -20px;
}
.member_img_middle{
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.member_img_middle:before{
	content: "";
	height: 100%;
	width: 0;
	vertical-align: middle;
	display: inline-block;
	margin: 0 -2px 0;
}
.member_img_middle span{
	vertical-align: middle;
}
/*profile*/
.profile_box{
	margin-left: -20px;
	padding: 10px 18px 0 18px;
}
.profile_label{
	cursor: pointer;
}
#checks{
	margin: 0 0 0 5px;
	width: 100%;
}

.scroll-pane{
	max-height: 272px;
	min-height: 200px;
	overflow: auto;
	margin: 0 -20px 0 -18px !important;
	/*border-bottom:1px solid #d8d8d8;*/
}
#checks td{
	line-height: 30px;
	color: #000;
	border: 1px dashed #d8d8d8;
	padding: 11px 10px 10px 20px;
}
#checks td:first-child{
	font-family: 'PragmaticaBookRegular';
	font-size: 14px;	
}

#checks th{
	padding: 20px 10px 20px 20px;
	border-top:1px dashed #d8d8d8; 
	border-right:1px dashed #d8d8d8;
	border-left:1px dashed #d8d8d8;
	text-align: left;
}
#checks th:first-child, #checks td:first-child{
	border-left:none;
}

.profile_box_contact{
	margin: 0 -18px 0 -18px;
	padding: 0 18px 0 18px;
}

[class*="profile_checks_item"]{
	width: 48%;
	
}
.profile_checks_item2{
	margin-left: 10px!important;
}
[class*="profile_checks_lk"]{
	display: inline-block;
	border-radius: 3px;
	color:#777;
	border: 2px solid #777;
}
[class*="profile_checks_item"]:hover [class*="profile_checks_lk"], [class*="profile_checks_item"]:hover .add_checks{
	border: 2px solid #a2a2a2;
	color:#a2a2a2
}
.profile_checks_lk1{
	width: 100%;
}
.profile_checks_lk2{
	color:#777;
	width: 84%;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-tabs-active button{
	background-color: #d3d3d3;
	border: 2px solid #d3d3d3;
	color:#777;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.add_checks{
	width: 38px;
	height: 38px;
	border-radius: 0 3px 3px 0;
	background: url(../images/proX.png) 50% 50% no-repeat #fff;
	display: inline-block;
	border:2px solid #777;
	position: relative;
	top:0;
	right:0;
	margin-left: -2px;
	cursor: pointer;
	outline: none;
}
.check_true:after, .check_felse:after{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right:10px;
	border-radius: 100%;
	position: relative;
	right: -20px;
	top:0;
}
.check_true:after{
background: #7cc52e;
}
.check_felse:after{
	background:#ea3030;
	cursor: pointer;
}
.scroll_box{
	width: 20px;
	height: 100%;
	top:10px;
	right:-10px;
}
.profile_e_mail{
	width: 270px;
}
.profile_tel{
	width: 170px;
}
#profile_form .reg_select{
	width: 100%;
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#profile_form .jq-selectbox__select{
	box-shadow: none;
}
.profile_number_reg{
	padding-top:12px;
}
#profile_form input[type="text"]{
	width: 100%;
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.profile_btn{
	width: 170px;
	margin: 0 auto;
}
.profile_place{
	margin-right: 35px;
}
.check_felse_span, .check_true_span{
	display: none;
	top:-20px;
	color: #000;
	background: #f0f0f0;
	border:1px solid #e0e0e0;
	border-radius: 3px;
	color: #000;
	z-index: 2;
	padding: 0px 3px;
	font-size: 14px;
	
}
#profile_form .reg_check{
	left: 0;
	bottom: 118px;
}
.check_felse_span{
	width: 120px;
	left:54px;
}
.check_true_span{
	width: 95px;
	left:64px;
}
.check_felse_span:before, .check_true_span:before{
	width: 11px;
	height: 11px;
	content: "";
	display: block;
	background: url(../images/profile_tip.png) 50% bottom no-repeat;
	position: absolute;
	bottom:-6px;
	left: 50%;
	margin-left:-5px;

}
.check_felse:hover > .check_felse_span, .check_true:hover > .check_true_span{
	display: inline-block;
} 
.profile_box_foto .gallery_item{
	padding: 170px 60px 118px;
}
.ui-tabs #tabs-2{
	padding-top: 1px;
}
.profile_pre_btn{
	width: 320px;
	margin: 0 auto;
}
.profile_pre_btn button{
	padding: 20px 0 18px;
}
.profile_pre.scroll-pane{
	max-height: 400px;
	min-height: 399px;
	overflow: auto;
}
.select_file_btn{
	width: 170px!important;
}
.registration_tools{
	display: none;
	color:#ea3030;
}
.invalid.registration_tools{
	display:block; 
}
.bg_img_profile:hover>.img_profile_btn{
	display: block;
}
