@font-face {
    font-family: 'PragmaticaMedium';
    src: url('prg65.eot');
    src: url('prg65.eot') format('embedded-opentype'),
         url('prg65.woff2') format('woff2'),
         url('prg65.woff') format('woff'),
         url('prg65.ttf') format('truetype'),
         url('prg65.svg#PragmaticaMedium') format('svg');
}
