@font-face {
    font-family: 'PragmaticaBookRegular';
    src: url('prg55.eot');
    src: url('prg55.eot') format('embedded-opentype'),
         url('prg55.woff2') format('woff2'),
         url('prg55.woff') format('woff'),
         url('prg55.ttf') format('truetype'),
         url('prg55.svg#PragmaticaRegular') format('svg');
}
