@font-face {
    font-family: 'PragmaticaLight';
    src: url('prg45.eot');
    src: url('prg45.eot') format('embedded-opentype'),
         url('prg45.woff2') format('woff2'),
         url('prg45.woff') format('woff'),
         url('prg45.ttf') format('truetype'),
         url('prg45.svg#PragmaticaLight') format('svg');
}
